{% extends "base.html" %}
{% block head %}
    <title>about page</title>
{% endblock %}


{% block content %}
<div class="profile-card text-center shadow bg-light p-4 my-5 rounded-3"style="transition: 0.5s;">
    <div class="profile-photo shadow">
        <img src="../static/images/images.jpeg" alt="profile Photo" class="img-fluid">
    </div>
    <h3 class="pt-3 text-dark">Johnson</h3>
    <p class="text-secondary">Web Developer & Designer</p>
    <div class="social-links">
        <ul>
            <li><a href="#"><i class="bi bi-facebook"></i></a></li>
            <li><a href="#"><i class="bi bi-twitter"></i></a></li>
            <li><a href="#"><i class="bi bi-instagram"></i></a></li>
            <li><a href="#"><i class="bi bi-linkedin"></i></a></li>                            
        </ul>
    </div>
</div>
{% endblock %}